aside {
    width: 300px;
    padding: 40px;
    background: linear-gradient(109.6deg, #360f0f 11.2%, #1f1e1e 91.1%);
    border-right: 2px solid rgb(0, 0, 0);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  
    .img{
    width: 100%;
    height: 120px;
    }
  
    ul {
    list-style: none;
    color: #fff;
    padding-bottom: 5px;
    font-size: 20px;
    }
}
    
    li:hover{
    border: 2px #000 solid;
    background: linear-gradient(109.6deg, #267931 11.2%, #2b2929 91.1%);
    }
  